body {
  font-family: 'Helvetica Neue', sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
}

hr {
  border-top: 3px solid #ccc;
}

.container {
  max-width: 900px;
  margin: auto;
}

#graph {
  height: 600px;
  margin-top: 30px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #ccc;
  background-color: aqua;
}

#mynetwork{
  height: 600px;
  margin-top: 30px;
  border: 1px solid #000000;
  box-shadow: 2px 2px 5px #030303;
  background-color: rgb(255, 254, 254);
}

body {
  background-color: #abbdb8; /* Define a cor de fundo */
}

select.form-control {
  font-size: 12px; /* Define o tamanho da fonte dos menus */
}